<!DOCTYPE html>
{% extends "partitions/base.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class='alert alert-danger alert-dismissible fade show m-3'>
            <button class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <form class="bg-danger-subtle border rounded d-flex flex-column gap-3 p-4" method="post">
        {% csrf_token %}
        <label class="form-label">
            :شماره همراه
            <input class="form-control" name='phone' type="text" value='{{ request.POST.phone|default_if_none:"" }}' autocomplete="tel" required>
        </label>
        <label class="form-label pb-3">
            :رمز
            <input class="form-control" name='password' type="password" value='{{ request.POST.password|default_if_none:"" }}' autocomplete="current-password" required>
        </label>
        <input class="btn btn-primary" type="submit" value="ارسال">
        <div class='ps-3'>اگر حساب ندارید <a class="link-info text-decoration-none" href="{% url "zebrashopapp:register" %}">کلیک</a> کنید</div>
    </form>
</div>

{% endblock content %}