<!DOCTYPE html>
{% extends "partitions/base.html" %}
{% block title %}پرداخت{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">جزئیات پرداخت</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="address">آدرس</label>
            <input type="text" class="form-control" id="address" name="address" value="{{ user_info.address }}" required>
        </div>
        <div class="form-group">
            <label for="city">شهر</label>
            <select class="form-control" id="city" name="city" required>
                <option value="">انتخاب کنید</option>
                <option value="تهران" {% if user_info.city == 'تهران' %}selected{% endif %}>تهران</option>
                <option value="اصفهان" {% if user_info.city == 'اصفهان' %}selected{% endif %}>اصفهان</option>
                <option value="مشهد" {% if user_info.city == 'مشهد' %}selected{% endif %}>مشهد</option>
                <option value="شیراز" {% if user_info.city == 'شیراز' %}selected{% endif %}>شیراز</option>
            </select>
        </div>

        <h3 class="mt-4">جزئیات خرید</h3>
        {% if order_items %}
            {% for item in order_items %}
                <div class="order-item border p-2 mb-3" id="order-item-{{ item.id }}">
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="width: 100px;">
                    <p>نام محصول: {{ item.product.name }}</p>
                    <p>سایز: {{ item.size }}</p>
                    <p>تعداد: {{ item.quantity }}</p>
                    <p>قیمت: <strong>{{ item.price }}</strong> تومان</p>
                </div>
            {% endfor %}
        {% else %}
            <p>سبد خرید شما خالی است.</p>
        {% endif %}

        <p>مجموع قیمت: <strong>{{ total_price }}</strong> تومان</p>

        {# لینک واتساپ با پیام پیش‌فرض #}
        <a href="https://wa.me/905340382335?text=آدرس: {{ user_info.address }}، شهر: {{ user_info.city }}، مجموع قیمت: {{ total_price }} تومان، جزئیات خرید: {% for item in order_items %} \n {{ item.product.name }} - سایز: {{ item.size }} - تعداد: {{ item.quantity }} - قیمت: {{ item.price }} {% endfor %}" class="btn btn-primary mb-5">
            ارسال به واتساپ
        </a>
    </form>
</div>
{% endblock content %}