{% load static %}


{% block content %}

<div class = 'container bg-white d-flex '>

    <p class='p fw-bolder'>ما در زبرا شاپ افتخار داریم که مجموعه‌ای از بهترین و باکیفیت‌ترین محصولات مرتبط با تیپ و استایل مردانه را مستقیماً از استانبول ترکیه به دست شما عزیزان در ایران می‌رسانیم. در فروشگاه ما می‌توانید انواع لباس‌ها، کیف‌ها، کفش‌ها، عینک‌ها و اکسسوری‌های خاص و مدرن را پیدا کنید. هدف ما ارائه بهترین تجربه خرید آنلاین با تضمین کیفیت و ارسال سریع به تمام نقاط ایران است.</p>
    <img class="img-fluid " style="max-height: 100px;" src="{% static 'img/zebra.jpg' %}" alt="zebrashop">
   
</div>
<div class='container bg-secondary p-3 d-flex justify-content-center align-content-center'>
    <p class='p fw-bold text-white'>کلیه حقوق وب سایت متعلق به زبرا شاپ می باشد</p>
</div>


{% endblock content %}