{% load static %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="container bg-secondary rounded-pill d-flex justify-content-between align-items-center p-2">
    <!-- دکمه منوی کشویی -->
    {% if user.is_authenticated %}
        <a class="nav-link h4 text-danger" href="#" id="offcanvasUserToggle" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUserMenu" aria-controls="offcanvasUserMenu">
             {{ user.name }} {{ user.lastname }}
        </a>
    {% else %}
        <div class="dropdown">
            <a class="nav-link dropdown-toggle h4 text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ورود
            </a>
            <ul class="dropdown-menu bg-secondary " aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item h4 text-danger" href="{% url 'zebrashopapp:login' %}">ورود</a></li>
                <li><a class="dropdown-item h4 text-danger" href="{% url 'zebrashopapp:register' %}">ثبت نام</a></li>
            </ul>
        </div>
    {% endif %}
    
    <!-- آیکون‌های شبکه‌های اجتماعی -->
    <a class="link-danger" href="https://www.instagram.com/zebrramen_onlineshop?igsh=bXg4eGFpYTJheXB5"><i class="fab fa-instagram fa-2x"></i></a>
    <a class="link-danger" href="https://wa.me/+905440482445"><i class="fab fa-whatsapp fa-2x"></i></a>
    
    <!-- آیکون سبد خرید -->
    {% if user.is_authenticated %}
    
    <div class="cart-icon position-relative">
        <a href="{% url 'zebrashopapp:basket_view' %}" class="nav-link">
            <i class="fas fa-shopping-cart fa-2x"></i>
            {% with basket=request.session.basket %}
                <span class="cart-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ basket|length|default:"0" }}
                </span>
            {% endwith %}
        </a>
    </div>
    {% endif %}
    
    <!-- دکمه محصولات -->
    <a href="{% url 'zebrashopapp:menu' %}" class="btn btn-lg btn-outline-danger">محصولات</a>
</div>

<!-- منوی کشویی کاربر -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasUserMenu" aria-labelledby="offcanvasUserMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasUserMenuLabel">اطلاعات کاربر</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="بستن"></button>
    </div>
    <div class="offcanvas-body">
        <p>نام: {{ user.name }}</p>
        <p>نام خانوادگی: {{ user.lastname }}</p>
        <p>شماره تلفن: {{user.phone}}</p>
        <a href="{% url 'zebrashopapp:profile' %}" class="btn btn-primary">مشاهده پروفایل</a>
        <form method="POST" action="{% url 'zebrashopapp:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">خروج</button>
        </form>
    </div>
</div>
{% endblock content %}