{% extends 'partitions/base.html' %}



{% load multiply %}  {# بارگذاری فیلتر سفارشی #}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">سبد خرید</h2>
    {% if basket %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">محصول</th>
                        <th scope="col">قیمت</th>
                        <th scope="col">تعداد</th>
                        <th scope="col">مجموع</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, item in basket.items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }} تومان</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price|multiply:item.quantity|floatformat:0 }} تومان</td>  {# استفاده از فیلتر multiply #}
                            <td>
                                <form method="post" action="{% url 'zebrashopapp:remove_from_basket' key %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">حذف</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="table-success">
                        <td colspan="3" class="text-right"><strong>مجموع قیمت:</strong></td>
                        <td><strong>{{ total_price|floatformat:0 }} تومان</strong></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <strong>سبد خرید شما خالی است.</strong>
        </div>
    {% endif %}
    <div class="text-center mt-3 mb-4">
        <a href="{% url 'zebrashopapp:menu' %}" class="btn btn-primary">ادامه خرید</a>
        {% if basket %}
        <a href="{% url 'zebrashopapp:checkout' %}" class="btn btn-success">
            پرداخت
        </a>
        {% else %}
        <a href="#" class="btn btn-success">
            پرداخت
        </a>
        {% endif %}
        
    </div>
</div>

<style>
    /* استایل‌ها */
</style>
{% endblock content %}
