<!DOCTYPE html>
{% extends "partitions/base.html" %}

{% block head %}
    <style>
        .card {
            height: 100%; /* یا می‌توانید از min-height استفاده کنید */
        }
    </style>
{% endblock head %}

{% block title %}
محصولات
{% endblock  %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row">
            {% for product in products %}
                <div class="col-6 col-md-4 d-flex align-items-stretch"> <!-- اضافه کردن d-flex و align-items-stretch -->
                    <div class="card mb-4 flex-fill"> <!-- اضافه کردن flex-fill -->
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.descriptions }}</p>
                            <a href="{% url 'zebrashopapp:product-detail' product.id %}" class="btn btn-primary">مشاهده جزئیات</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}